<div
  class="table-container"
  fxFlex
  fxLayout="column"
  fxLayoutAlign="start none"
>
  <div
    class="controls-buttons column"
    fxLayout="column"
    fxLayoutAlign="start start"
  >
    <button
      mat-raised-button
      color="primary"
      class="icon"
      (click)="toggleSidebarOpen(SidebarName.payment)"
      id="payment-btn"
    >
      <mat-icon svgIcon="plus-white" aria-hidden="false"></mat-icon>
      Payment
    </button>
  </div>
</div>

<!-- Start payment checkout -->
<atlp-sidebar
  class="sidebar-with-content"
  [name]="SidebarName.payment"
  position="right"
  [folded]="false"
  [invisibleOverlay]="true"
  [superimposed]="true"
>
  <payment-checkout
    (changeState)="toggleSidebarOpen($event)"
  ></payment-checkout>
</atlp-sidebar>
<!-- End payment checkout -->
